
QMainWindow {
	background: #2e2e2e;
}

QMenuBar {
	color: #b6b6b6;
	background: #3b3b3b;
	border: 0;
}

QMenuBar::item {
	padding: 7px 15px;
}

QMenuBar::item:selected {
	color: #b6b6b6;
	background: #3b3b3b;
}

QTabWidget::pane {
	background: #2e2e2e;
	border: 1px solid #9b9b9b;
}

QTabBar {
	width: 100%;
}

QTabBar::tab {
	background: transparent;
	color: #b6b6b6;
	padding: 8px 10px;
	min-width: 100px;
	border: 0;
	border-bottom: 2px solid transparent;
	margin-bottom: 2px;
}

QTabBar::tab:selected {
	color: #117779;
	border-color: #117779;
}

QToolBar {
	border: 0;
	background: #2e2e2e;
}


QToolBar QToolButton {
	background: transparent;
	border: none;
	padding: 8px;
}

QToolBar QToolButton:hover {
	background: #666;
}

#CircuitView {
	background: #262626;
}
